<!-- Header -->
<div class="toolbar">
  <ul id="nav">
    <li><a href="#">The book series</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">The Author</a></li>
    <li><a href="#">Free resources</a></li>
  </ul>
</div>

<div class="content">
  <h4>You don't know javascript</h4>

  <div class="card-container">
    <div class="col-xs-6">
      <img src="assets/img/lrg.jpg" />
    </div>
    <div class="col-xs-6 divright">
      <p>Don't just draft through Javascript.</p>
      <br />
      <p>Understand how javascript works</p>
      <br />
      <p>Start your journey through the bumpy side of Javascript</p>
      <br />
      <button type="button" class="button">ORDER YOUR COPY NOW</button>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footerdiv">
  <footer style="padding-top: 50px;">
    <p>The first ebook in the book series is absolutely free.</p>

    <button type="button" class="button btn1">
      FIND OUT MORE ABOUT THIS OFFER
    </button>
  </footer>
</div>

<router-outlet></router-outlet>
